#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --noipv6 --activate
network  --hostname=demo2
# Root password
rootpw --iscrypted $6$DbrFVauZ9bPDqfBE$jEHN.GkZO0SZ96xjcY6KZtlDHR6i.kqwoSxgOZxAhU0.bi55AlB9sMvaX37PxlAANs.aEioIJC4rYwcNdM280.
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=lcox --password=$6$8G3P/AWe/Mungadu$ZcCjPgAvV0CABCUcOerwljEbIfUgwUx./5ZMEkrnPYv.Cn7B3jk1QpmE5ldHMHSVC52egy/lDfo38w9utT9wI1 --iscrypted --gecos="lcox"

%packages
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

# Reboot when the install is finished
reboot