#version=RHEL8
ignoredisk --only-use=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel
# Use graphical install
graphical
repo --name="AppStream" --baseurl=file:///run/install/repo/AppStream
# Use CDROM installation media
cdrom
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --noipv6 --activate
network  --hostname=db-main
# Root password
rootpw --iscrypted $6$VLRrrpDvWX85KPZf$SNaT9NzzYo142NOj9ePGMb.9SZvlqKZL7RKbj78oBY7DFrbYhmZBqbtLrkH0rh8/CqVtHAFBZJ2e5CEixeOit/
# Run the Setup Agent on first boot
firstboot --enable
# Do not configure the X Window System
skipx
# System services
services --enabled="chronyd"
# System timezone
timezone America/New_York --isUtc
user --groups=wheel --name=lupera1 --password=$6$zsjXKfX8ljrUgeRn$u/Jt1zW0sf7b5kitv7VP5RVoyD.VCVKfh5c2RgO1LSJ9sipmvIrwbbJIkxccpBvYLkSnomJuY0wHswdo3OW/V1 --iscrypted --gecos="lupera1"

%packages
@^minimal-environment
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
reboot
